body{
	background-color:lightblue;
}
header,h2,footer,#imglinks{
	text-align:center;
	clear:both;
}
nav ul{
	list-style-type:none;
	display:inline-block;
}
nav li{
	float:left;
	width:10em;
	margin-left:-2.5em
}
.left1{
	float:left;
	margin-left:20px;
	margin-top:20px;
	padding-right:15px !important;
}
.right1{
	float:left;
	width:71%;
	margin-right:20px;
}
.left2{
	float:left;
	width:71%;
	margin-left:20px;
}
.right2{
	float:left;
	margin-right:20px;
	margin-top:-140px;
	padding-left:15px !important;
}
details{
	color:red;
}
.NormalImage{
	width:300px;
	height:200px;
}
#bandeiras{
	width:300px;
	height:300px;
}
#rio{
	width:200px;
	height:300px;
}
p,details,figure{
	margin-left:0px;
	padding-left:0px;
	margin-right:0px;
	padding-right:0px;
}
.flag{
	width:75px;
	height:50px;
}
figure{
	padding:0px;
	margin-left:0px;
}
figcaption{
	text-align:center;
	font-weight:bold;
}
footer{
	padding-top:20px;
	padding-bottom:20px;
}
.indexflag{
	padding:10px;
}
article{
	text-align:justify;
}
.indexflagimg{
	width:150px;
	height:100px;
}